@model GOOS_DEMO.Models.OGRETMan

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Yonetim/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>OGRETMan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BRAN.B_ADI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BRAN.B_ADI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ILETISIM.ILET_ADRES)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ILETISIM.ILET_ADRES)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KULLANICI.K_ADI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KULLANICI.K_ADI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OGRETMEN_CINSIYET)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OGRETMEN_CINSIYET)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OGRETMEN_ADI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OGRETMEN_ADI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OGRETMEN_SOYADI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OGRETMEN_SOYADI)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OGRETMEN_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
