@model IEnumerable<GOOS_DEMO.Models.KULLANICI_TURU>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Yonetim/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KT_ADI)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KT_ADI)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.KT_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.KT_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.KT_ID })
        </td>
    </tr>
}

</table>
