@model IEnumerable<GOOS_DEMO.Models.OGRENCI>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Yonetim/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ILETISIM.ILET_ADRES)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KULLANICI.K_ADI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OGRENCI_NO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OGRENCI_ADI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OGRENCI_SOYADI)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OGRENCI_CINSIYET)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ILETISIM.ILET_ADRES)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KULLANICI.K_ADI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OGRENCI_NO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OGRENCI_ADI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OGRENCI_SOYADI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OGRENCI_CINSIYET)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.OGRENCI_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.OGRENCI_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.OGRENCI_ID })
        </td>
    </tr>
}

</table>
