@model GOOS_DEMO.Models.KULLANICI



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>KULLANICI</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.KULLANICI_TURU.KT_ADI)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.KULLANICI_TURU.KT_ADI)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.K_ADI)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.K_ADI)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.K_PAROLA)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.K_PAROLA)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.K_DURUMU)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.K_DURUMU)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.K_ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
